target
src/static/node_modules
src/static/bower_components
.settings
/.project
src/static/dist
src/static/bower.json
src/static/package.json
src/static/bower_components
src/static/node_modules
src/main/resources/angular
