<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-menu" data-type="collapse">
    <div data-scrollable>

        {% if !sidebarOptions|contains('sidebar-mini-reveal') %}
        <div class="sidebar-block">
            <div class="profile">
                <a href="#">
                    <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle width-80"/>
                </a>
                <h4 class="text-display-1 margin-none">Bill Gates</h4>
            </div>
        </div>
        {% endif %}

        <ul class="sidebar-menu{% if sidebarOptions|contains('sidebar-mini-reveal') %} sm-icons-right{% endif %}">
            <li ui-sref-active="active"><a ui-sref="app-student.dashboard"><i class="fa fa-bar-chart-o"></i><span>Dashboard</span></a></li>
            <li class="hasSubmenu" ng-class="{ 'active open': $state.includes('app-student.program')}">
                <a href="#program-menu"><i class="fa fa-mortar-board"></i><span>Programs</span></a>
                <ul id="program-menu" ng-class="{ 'in': $state.includes('app-student.program')}">
                    <li ui-sref-active="active"><a ui-sref="app-student.program-javadev"><span>Full Stack Java Developer</span></a></li>
                </ul>
            </li>

            <li class="hasSubmenu" ng-class="{ 'active open': $state.is('app-student.private-profile') || $state.is('app-student.billing') }">
                <a href="#account-menu"><i class="fa fa-user"></i><span>Account</span></a>
                <ul id="account-menu" ng-class="{ 'in': $state.is('app-student.private-profile') || $state.is('app-student.billing') }">
                    <li ui-sref-active="active"><a ui-sref="app-student.private-profile"><span>Edit Profile</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="app-student.billing"><span>Edit Billing</span></a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a ui-sref="app-student.messages"><i class="fa fa-comments"></i><span>Messages</span></a></li>
            <li><a ui-sref="login"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        </ul>
    </div>
</div>