<!-- Fixed navbar -->
<div class="navbar {{ navbarSkin or 'navbar-default' }} navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow"
data-z="0" data-animated role="navigation" data-ng-controller="navBarCtrl">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-brand-logo">
				<a class="svg" ui-sref="website-pages.home">{% include "src/html/themes/angular/html/_logo.html" %}</a>
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="main-nav">

			<ul class="nav navbar-nav navbar-nav-margin-left">
				<li class="dropdown" ng-class="{ 'active': $state.includes('website-pages.home') }">
					<a ui-sref="website-pages.home" class="dropdown-toggle" data-toggle="dropdown"> <span class="ink animate" style="height: 78px; width: 78px; left: 10.1667px;"></span><i class="fa fa-home"></i> Home</a>
				</li>

				<li class="dropdown" ng-class="{ 'active': $state.includes('website-program') }">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ui-sref-active="active">
							<a ui-sref="website-program.javadev">Full Stack Java Developer</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Front End Developer</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Big Data Developer</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Mobile Developer</a>
						</li>
					</ul>
				</li>

				<li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutors <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ui-sref-active="active">
							<a ui-sref="website-instructor.all">Java Tutors</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Front End Tutors</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Data Engineering Tutors</a>
						</li>
						<li ui-sref-active="active">
							<a ui-sref="#">Mobile Development Tutors</a>
						</li>
					</ul>
				</li>

				<li class="dropdown" ng-class="{ 'active': $state.includes('website-pages.contact') }">
					<a ui-sref="website-pages.contact" class="dropdown-toggle" data-toggle="dropdown">Contact</span></a>
					<!-- <ul class="dropdown-menu">
					<li ui-sref-active="active"><a ui-sref="#"></a></li>
					</ul> -->
				</li>

				<!--
				<li class="dropdown" ng-class="{ 'active': $state.includes('website-forum') }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li ui-sref-active="active"><a ui-sref="website-forum.home">Forum Home</a></li>
				<li ui-sref-active="active"><a ui-sref="website-forum.category">Forum Category</a></li>
				<li ui-sref-active="active"><a ui-sref="website-forum.thread">Forum Thread</a></li>
				</ul>
				</li>
				<li class="dropdown" ng-class="{ 'active': $state.includes('website-blog') }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li ui-sref-active="active"><a ui-sref="website-blog.listing">Blog Listing</a></li>
				<li ui-sref-active="active"><a ui-sref="website-blog.post">Blog Post</a></li>
				</ul>
				</li>
				<li class="dropdown" ng-class="{ 'active': $state.includes('app-student') }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li ui-sref-active="active"><a ui-sref="app-student.dashboard">Dashboard</a></li>
				<li ui-sref-active="active"><a ui-sref="app-student.courses">My Courses</a></li>
				<li ui-sref-active="active"><a ui-sref="app-student.take-course">Take Course</a></li>
				<li ng-class="{ 'active' : $state.is('app-student.course-forums') || $state.is('app-student.course-forum-thread') }"><a ui-sref="app-student.course-forums">Course Forums</a></li>
				<li ui-sref-active="active"><a ui-sref="app-student.take-quiz">Take Quiz</a></li>
				<li ui-sref-active="active"><a ui-sref="app-student.messages">Messages</a></li>
				<li ng-class="{ 'active' : $state.is('app-student.private-profile') || $state.is('app-student.billing') }"><a ui-sref="app-student.private-profile">Private Profile</a></li>
				</ul>
				</li>
				<li class="dropdown" ng-class="{ 'active': $state.includes('website-instructor') }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Instructor <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li ui-sref-active="active"><a ui-sref="app-instructor.dashboard">Dashboard</a></li>
				<li ui-sref-active="active"><a ui-sref="app-instructor.courses">My Courses</a></li>
				<li ng-class="{ 'active' : $state.is('app-instructor.edit-course') || $state.is('app-instructor.edit-course-meta') || $state.is('app-instructor.edit-course-lessons') }"><a ui-sref="app-instructor.edit-course">Edit Course</a></li>
				<li ui-sref-active="active"><a ui-sref="app-instructor.earnings">Earnings</a></li>
				<li ui-sref-active="active"><a ui-sref="app-instructor.statement">Statement</a></li>
				<li ui-sref-active="active"><a ui-sref="app-instructor.messages">Messages</a></li>
				<li ng-class="{ 'active' : $state.is('app-instructor.private-profile') || $state.is('app-instructor.billing') }"><a ui-sref="app-instructor.private-profile">Private Profile</a></li>
				</ul>
				</li>
				<li class="dropdown" ng-class="{ 'active': $state.includes('essential') }">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
				<ul class="dropdown-menu">
				<li ui-sref-active="active"><a ui-sref="essential.buttons">Buttons</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.icons">Icons</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.progress">Progress</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.grid">Grid</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.forms">Forms</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.tables">Tables</a></li>
				<li ui-sref-active="active"><a ui-sref="essential.tabs">Tabs</a></li>
				</ul>
				</li>-->
			</ul>
			<div class="navbar-right">
				<ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
					<!-- user -->
					<li class="dropdown user{% if page.slug|contains('app-student-') %} active{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <!--<img src="images/people/110/guy-6.jpg" alt="" class="img-circle"/>--> ::user.name::<span class="caret"></span> </a>
						<ul class="dropdown-menu" role="menu">
							<li ui-sref-active="active">
								<a ui-sref="app-student.dashboard"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="app-student.courses"><i class="fa fa-mortar-board"></i> My Courses</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref="app-student.private-profile"><i class="fa fa-user"></i> Profile</a>
							</li>
							<li>
								<a ui-sref="login"><i class="fa fa-sign-out"></i> Logout</a>
							</li>
						</ul>
					</li>
					<!-- // END user -->
				</ul>
				<a ui-sref="login" class="navbar-btn btn btn-primary">Log In</a>
			</div>
		</div><!-- /.navbar-collapse -->

	</div>
</div>